# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
# Import your libraries:
import pandas as pd
import numpy as np

from sklearn.datasets import load_diabetes
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import r2_score

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function.

In [2]:
# Your code here:
diabetes = load_diabetes()

Let's explore this variable by looking at the different attributes. Do this by looking at the `keys()` of this variable.

In [3]:
# Your code here:

diabetes.keys()

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module'])

The next step is to read the description of the dataset. Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable

In [4]:
# Your code here:
print(diabetes['DESCR'])

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, total serum cholesterol
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, total cholesterol / HDL
      - s5      ltg, possibly log of serum triglycerides level
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

What are the variables in this dataset according to the description? List them in the markdown cell below

#### Enter your answer here:

From Age to S6

Now explore the data. Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). In the cell below find the shape of the numpy array contained in the data portion of the diabetes variable.

In [5]:
# Your code here:
df = pd.DataFrame(diabetes['data'], columns=diabetes['feature_names'])
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     442 non-null    float64
 1   sex     442 non-null    float64
 2   bmi     442 non-null    float64
 3   bp      442 non-null    float64
 4   s1      442 non-null    float64
 5   s2      442 non-null    float64
 6   s3      442 non-null    float64
 7   s4      442 non-null    float64
 8   s5      442 non-null    float64
 9   s6      442 non-null    float64
dtypes: float64(10)
memory usage: 34.7 KB

In [6]:
df.shape

(442, 10)

# Challenge 2 - Perform Supervised Learning on the Dataset

#### The data has already been split to predictor and response variables. The response variable is in the `target` portion of the variable. 

Given this information, let's apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset. In the cell below, import the linear regression class from sklearn.

In [7]:
# Your code here:
y = pd.DataFrame(diabetes['target'])
y

         0
0    151.0
1     75.0
2    141.0
3    206.0
4    135.0
..     ...
437  178.0
438  104.0
439  132.0
440  220.0
441   57.0

[442 rows x 1 columns]

Initialize the model in the variable `diabetes_model`

In [8]:
# Your code here:
diabetes_model = LinearRegression()

In the cell below, fit the model and print the intercept and coefficients of the model.

In [9]:
# Your code here:
diabetes_model.fit(df, y)
print(diabetes_model.intercept_)
print('-----------') 
print(diabetes_model.coef_)

[152.13348416]
-----------
[[ -10.01219782 -239.81908937  519.83978679  324.39042769 -792.18416163
   476.74583782  101.04457032  177.06417623  751.27932109   67.62538639]]

# Bonus Challenge 1 - Conduct a Hypothesis Test on the Model

Once we have generated a linear model, we can test each coefficient using a t-test to see whether the confidence interval for the variable contains zero. We can also perform an overall F test to check whether at least one coefficient is significantly different from zero. 

Refer to the resource in this [link](https://onlinecourses.science.psu.edu/stat501/node/297/) for more details and perform the t-tests for the model above. Additionally, interpret the results and list coefficients are significantly different from zero.


Hint: use the statsmodels package.

Your result should look similar to this:

![ols](../ols-results.png)

In [10]:
import statsmodels.api as sm
from statsmodels.stats import diagnostic
from statsmodels.formula.api import ols

In [11]:
# Your code here:
X = sm.add_constant(df)
Y = y

modelo = sm.OLS(Y, X).fit()
prediction = modelo.predict()
print(modelo.summary())
print(prediction)

                            OLS Regression Results
==============================================================================
Dep. Variable:                      0   R-squared:                       0.518
Model:                            OLS   Adj. R-squared:                  0.507
Method:                 Least Squares   F-statistic:                     46.27
Date:                Wed, 18 May 2022   Prob (F-statistic):           3.83e-62
Time:                        12:52:52   Log-Likelihood:                -2386.0
No. Observations:                 442   AIC:                             4794.
Df Residuals:                     431   BIC:                             4839.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        152.1335      2.576     59.061      0.000     147.071     157.196
age          -10.0122     59.749     -0.168      0.867    -127.448     107.424
sex         -239.8191     61.222     -3.917      0.000    -360.151    -119.488
bmi          519.8398     66.534      7.813      0.000     389.069     650.610
bp           324.3904     65.422      4.958      0.000     195.805     452.976
s1          -792.1842    416.684     -1.901      0.058   -1611.169      26.801
s2           476.7458    339.035      1.406      0.160    -189.621    1143.113
s3           101.0446    212.533      0.475      0.635    -316.685     518.774
s4           177.0642    161.476      1.097      0.273    -140.313     494.442
s5           751.2793    171.902      4.370      0.000     413.409    1089.150
s6            67.6254     65.984      1.025      0.306     -62.065     197.316
==============================================================================
Omnibus:                        1.506   Durbin-Watson:                   2.029
Prob(Omnibus):                  0.471   Jarque-Bera (JB):                1.404
Skew:                           0.017   Prob(JB):                        0.496
Kurtosis:                       2.726   Cond. No.                         227.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[206.11706979  68.07234761 176.88406035 166.91796559 128.45984241
 106.34908972  73.89417947 118.85378669 158.81033076 213.58408893
  97.07853583  95.1016223  115.06673301 164.67605023 103.07517946
 177.17236996 211.75953205 182.84424343 147.99987605 124.01702527
 120.33094632  85.80377894 113.11286302 252.44934852 165.48821056
 147.72187623  97.12824075 179.09342974 129.05497324 184.78138552
 158.71515746  69.47588393 261.50255826 112.81897436  78.37194762
  87.66624129 207.92460213 157.87686037 240.84370686 136.93372685
 153.48187659  74.15703284 145.63105805  77.8280105  221.0786645
 125.22224022 142.60147066 109.4926324   73.14037106 189.87368742
 157.93636782 169.55816531 134.18186217 157.72356219 139.1077439
  72.73252701 207.8289973   80.10834588 104.08562488 134.57807971
 114.23779529 180.67760064  61.12644508  98.7215441  113.79626149
 189.96141244 148.98263155 124.33457266 114.83969622 122.00224605
  73.91315064 236.70948329 142.31366526 124.51427625 150.84273716
 127.75408702 191.16674356  77.05921006 166.82129568  91.00741773
 174.75026808 122.83488194  63.27214662 151.99895968  53.73407848
 166.00134469  42.65030679 153.04135861  80.54493791 106.9048058
  79.94239571 187.1634566  192.60115666  61.07125918 107.40466928
 125.04038427 207.72180472 214.21749964 123.47505642 139.16396617
 168.21035724 106.9267784  150.64502809 157.92231541 152.75856279
 116.22255529  73.03090141 155.66898717 230.14278537 143.50191007
  38.0947967  121.860737   152.79569851 207.99651918 291.23082717
 189.17431487 214.02871163 235.18090808 165.3872774  151.25000032
 156.57626783 200.44154589 219.35211772 174.79049427 169.23161767
 187.8719893   57.49473392 108.55110499  92.68518048 210.87365701
 245.47433558  69.84529943 113.0351432   68.42945176 141.69628649
 239.46177949  58.3802079  235.47268158 254.91986281 253.31042713
 155.50813249 230.55904185 170.44063216 117.99200943 178.55548636
 240.07155813 190.3398776  228.66100769 114.24162642 178.36570405
 209.09273631 144.85567253 200.65791056 121.34184881 150.50918174
 199.02165018 146.2806806  124.02443772  85.26036769 235.16536625
  82.17255475 231.29266191 144.36634395 197.04778326 146.99720377
  77.18477545  59.3728572  262.67891084 225.12578458 220.20506312
  46.59691745  88.1040833  221.77623752  97.24900614 164.48869956
 119.90114263 157.79986195 223.08505437  99.5885471  165.84341641
 179.47571002  89.83382843 171.82492808 158.36337775 201.47857482
 186.39202728 197.47094269  66.57241937 154.59826802 116.18638034
 195.92074021 128.04740268  91.20285628 140.56975398 155.23013996
 169.70207476  98.75498537 190.1453107  142.5193942  177.26966106
  95.31403505  69.0645889  164.16669511 198.06460718 178.26228169
 228.58801706 160.67275473 212.28682319 222.48172067 172.85184399
 125.27697688 174.7240982  152.38282657  98.58485669  99.73695497
 262.29658755 223.73784832 221.3425256  133.61497308 145.42593933
  53.04259372 141.81807792 153.68369915 125.21948824  77.25091512
 230.26311068  78.90849563 105.20931175 117.99633487  99.06361032
 166.55382825 159.34391027 158.27612808 143.05658763 231.55938678
 176.64144413 187.23572317  65.38504165 190.66078824 179.74973878
 234.91022512 119.15540438  85.63464409 100.85860205 140.4174259
 101.83836332 120.66138775  83.06599161 234.58754656 245.16192142
 263.26766492 274.87431887 180.67699732 203.05474761 254.21769367
 118.44122343 268.44988948 104.83643442 115.87172349 140.45788952
  58.46850453 129.83264097 263.78452618  45.01240356 123.28697604
 131.08314499  34.89018315 138.35659686 244.30370588  89.95612306
 192.07094588 164.32674962 147.74783541 191.89381753 176.44296313
 158.34707354 189.19183226 116.58275843 111.44622859 117.45262547
 165.79457547  97.80241129 139.54389024  84.17453643 159.9389204
 202.4011919   80.48200416 146.64621068  79.05274311 191.33759392
 220.67545196 203.75145711  92.87093594 179.15570241  81.80126162
 152.82706623  76.79700486  97.79712384 106.83424483 123.83477117
 218.13375502 126.02077447 206.76300555 230.57976636 122.0628518
 135.67694517 126.36969016 148.49621551  88.07082258 138.95595037
 203.86570118 172.55362727 122.95773416 213.92445645 174.88857841
 110.07169487 198.36767241 173.24601643 162.64946177 193.31777358
 191.53802295 284.13478714 279.30688474 216.0070265  210.08517801
 216.22213925 157.01489819 224.06561179 189.05840605 103.56829281
 178.70442926 111.81492124 290.99913121 182.64959461  79.33602602
  86.33287509 249.15238929 174.51439576 122.10645431 146.27099383
 170.6555544  183.50018707 163.36970989 157.03563376 144.42617093
 125.30179325 177.50072942 104.57821235 132.1746674   95.06145678
 249.9007786   86.24033937  62.00077469 156.81087903 192.3231713
 133.85292727  93.67456315 202.49458467  52.53953733 174.82926235
 196.9141296  118.06646574 235.3011088  165.09286707 160.41863314
 162.37831419 254.05718804 257.23616403 197.50578991 184.06609359
  58.62043851 194.3950396  110.77475548 142.20916765 128.82725506
 180.12844365 211.26415225 169.59711427 164.34167693 136.2363478
 174.50905908  74.67649224 246.29542114 114.14131338 111.54358708
 140.02313284 109.99647408  91.37269237 163.01389345  75.16389857
 254.05755095  53.47055785  98.48060512 100.66268306 258.58885744
 170.67482041  61.91866052 182.3042492  171.26913027 189.19307553
 187.18384852  87.12032949 148.37816611 251.35898288 199.69712357
 283.63722409  50.85577124 172.14848891 204.06179478 174.16816194
 157.93027543 150.50201654 232.9761832  121.5808709  164.54891787
 172.67742636 226.78005938 149.46967223  99.14026374  80.43680779
 140.15557121 191.90593837 199.27952034 153.63210613 171.80130949
 112.11314588 162.60650576 129.8448476  258.02898298 100.70869427
 115.87611124 122.53790409 218.17749233  60.94590955 131.09513588
 119.48417359  52.60848094 193.01802803 101.05169913 121.22505534
 211.8588945   53.44819015]

# Challenge 2 - Peform Supervised Learning on a Pandas Dataframe

Now that we have looked at data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [12]:
# Your code here:

auto = pd.read_csv('../auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [13]:
# Your code here:
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [14]:
# Your code here:
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horse_power   392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   car_name      398 non-null    object
dtypes: float64(4), int64(3), object(1)
memory usage: 25.0+ KB

What is the newest model year and the oldest model year?

In [15]:
# Your code here:
print(auto.model_year.min())
print(auto.model_year.max())

70
82

Check the dataset for missing values and remove all rows containing at least one missing value.

In [16]:
# Your code here:
auto.isnull().sum()

mpg             0
cylinders       0
displacement    0
horse_power     6
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

In [17]:
auto_clean = auto.dropna()

In [18]:
auto_clean.isnull().sum()

mpg             0
cylinders       0
displacement    0
horse_power     0
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [19]:
# Your code here:
auto_clean.cylinders.value_counts()

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

In [20]:
auto_clean.drop(columns='car_name', inplace=True)
auto_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 397
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horse_power   392 non-null    float64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model_year    392 non-null    int64
dtypes: float64(4), int64(3)
memory usage: 24.5 KB

C:\Users\52551\AppData\Local\Temp\ipykernel_19940\415580716.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  auto_clean.drop(columns='car_name', inplace=True)

In [21]:
# Import the necessary function
# Random state just to check with colleagues
X_train, X_test, y_train, y_test = train_test_split(auto_clean.drop('mpg', axis=1), auto_clean['mpg'], random_state=1, test_size=0.2)

In [22]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((313, 6), (79, 6), (313,), (79,))

In [23]:
# Your code here:

Now we will the dataset that we processed and peform linear regression on this data to predict the mpg for each vehicle. Initialize the model in the cell below.

In [24]:
# Your code here:
linreg = LinearRegression()

Next, fit the model in the cell below.

In [25]:
# Your code here:
linreg.fit(X_train, y_train)
linreg.score(X_train, y_train)

0.8058948552137569

# Challenge 3 - Evaluate the Model

the r squared score of a model tells us how much variation is explained by the model. In a typical dataset, most observations differ from the mean. When we create a model, we are trying to generate an equation that will tell us by how much each observation will differ from the mean. Obviously, the vast majority of models are not perfect. They can only predict some of the variation from the mean but not all of it. We attribute the rest of the difference between the actual value and the mean to random error. We would like random error to explain the as little as possible of the variation. This is why the r squared score is an important metric.

In the next cell, compute the r squared score of the model. Do this by first computing the predicted values and assign them to `y_pred`.

In [26]:
# Import the necessary function:
from sklearn.metrics import r2_score

In [27]:
# Your code here:
y_predict = linreg.predict(X_test)
r2_score(y_test, y_predict)

0.81449025425726

#### Our next step is to evaluate the model using the test data. We would like to ensure that our model is not overfitting the data. This means that our model will not be able to generalize well outside of the training data.

In the cell below, use the model to generate the predicted values for the training data and assign them to `y_test_pred`. Compute the r squared score for the test data by comparing the oberserved `y_test` data and the predicted `y_test_pred`.

In [28]:
# Your code here:
r2_score(y_test, y_predict)

0.81449025425726

# Challenge 4 - Improve the Model Fit

While the most common way to improve the fit of a model is by using regularization, there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [29]:
# Your code here:
# Random state just to check with colleagues
X_train90, X_test90, y_train90, y_test90 = train_test_split(auto_clean.drop('mpg', axis=1), auto_clean['mpg'], random_state=1, test_size=0.1)

Initialize a new model. Name this model `auto_model09`. Fit the model to the new sample data.

In [30]:
# Your code here:
auto_model90 = LinearRegression()
auto_model90.fit(X_train90, y_train90)
auto_model90.score(X_train90, y_train90)

0.8087142632107285

Compute the predicted values and r squared score for our new model and new sample data.

In [31]:
# Your code here:

y_predict90 = auto_model90.predict(X_test90)

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [32]:
# Your code here:
r2_score(y_test90, y_predict90)

0.808502519021851

In [33]:
r2_score(y_test, y_predict), r2_score(y_test90, y_predict90)

(0.81449025425726, 0.808502519021851)

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [34]:
from sklearn.feature_selection import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [35]:
# Your code here:
X = auto_clean.drop('mpg', axis=1)
y = auto_clean.mpg
selecto = RFE(linreg, n_features_to_select=3)
selecto.fit(X,y)
selecto.ranking_

array([1, 2, 4, 3, 1, 1])

Fit the model and print the ranking

In [36]:
# Your code here:

selecto.fit(X,y)
selecto.ranking_

array([1, 2, 4, 3, 1, 1])

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [37]:
# Your code here:
auto_reduced = auto_clean[['cylinders', 'acceleration', 'model_year']]

In [38]:
X_reduced = auto_reduced
y_reduced = auto_clean['mpg']

In [43]:
# Random state just to check with colleagues
X_train_reduced, X_test_reduced, y_train_reduced, y_test_reduced = train_test_split(X_reduced, y_reduced, test_size=0.2, random_state=1)

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [44]:
# Your code here: 
auto_model_reduced = LinearRegression()
auto_model_reduced.fit(X_train_reduced, y_train_reduced)
y_predict_reduced = auto_model_reduced.predict(X_test_reduced)
r2_score(y_test_reduced, y_predict_reduced)

0.7646883048402375